<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" text="text/css">
    </head>
    <body>
        <h1>Hello from ejs</h1>
        <h1>Person <%= ID %></h1>
        <h2>QuesryString: <%= Qstr%></h2>
    </body>
</html>